
<mat-toolbar color="accent">
  <h1>CRUD</h1>
</mat-toolbar>

<mat-sidenav-container style=" height: 100vh;">

  <mat-sidenav #sidenav opened="true" mode="side" style="min-width: 180px; width: 20vw; padding: 2rem;">

    <form [formGroup]="contactForm" onSubmit="event.preventDefault()" style="display: flex; flex-direction: column">

      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Nombre</mat-label>
        <input matInput type="text" name="nombre" formControlName="nombre">
      </mat-form-field>

      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Cuenta</mat-label>
        <input matInput (keypress)="numberOnly($event)" type="text" name="cuenta" formControlName="cuenta">
      </mat-form-field>

      <button mat-stroked-button color="accent" [disabled]="this.contactForm.invalid" (click)="addContact(this.contactForm.value)">Agregar</button>

    </form>

  </mat-sidenav>

  <mat-sidenav-content>

    <div *ngIf="error" class="error-message">
      {{ error }}
    </div>
    <div style="display: flex; flex-direction: column; flex-wrap: nowrap; width: 75vw;
    height: 50%" *ngIf="contacts.length > 0">
      <mat-card *ngFor="let item of contacts" appearance="outlined" style="width: 100%; margin: 1rem; padding: 2rem;">
        <mat-card-content>
          <h3>{{ item.nombre }}</h3>
          <p>{{ item.cuenta }}</p>
          <p>{{ item.email }}</p>
          <p>{{ item.web }}</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-mini-fab color="primary" (click)="showModal(item.id)" style="margin-right: 1rem">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-mini-fab color="warn" (click)="deleteContact(item.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div *ngIf="contacts.length === 0 && !error">
      Cargando datos...
    </div>

  </mat-sidenav-content>

</mat-sidenav-container>
